.keyboard{
    width: 70px;
    height: 70px;
    background-color: #272a32;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
}